body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.success {
    color: green;
}

li.error {
    color: red;
}
/* Estilo padrão do botão */
.whatsapp-button {
  text-decoration: none; 
  background-color: green; /* Cor de fundo */
  color: white; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  font-weight: bold; /* Negrito no texto */
  display: inline-block; /* Exibição em linha */
  transition: all 0.3s ease; /* Transição suave */
}

/* Estilo do botão ao passar o mouse */
.whatsapp-button:hover {
  background-color: #128c7e; /* Cor de fundo ao passar o mouse */
  transform: scale(1.1); /* Aumentar ligeiramente o tamanho do botão */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}
